@charset "utf-8";

/* header */
header{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    padding: 45px 41px 35px 60px;
}
.ham-menu{
    width: 60px;
    height: 60px;
    background: #F5A62E;
    border-radius: 15px;
    position: relative;
    margin-right: 18px;
}
.ham-menu span:nth-child(1){
    width: 30px;
    height: 3px;
    background: #fff;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
}
.ham-menu span:nth-child(2){
    width: 30px;
    height: 3px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ham-menu span:nth-child(3){
    width: 30px;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 50%;    
    top: 70%;
    transform: translate(-50%, -70%);
}

/* search-box */
.search-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 630px;
    padding: 16px 20px;
    background: #ECECEC;
    border-radius: 15px;
    margin-right: 18px;
}
.search-box img{
    margin-right: 17px;
}
.search-box input{
    font-size: 24px;
    color: #AAACAE;
    background: transparent;
    border: transparent;
    outline: none;
}


/* munu-btn */
.munu-btn,
.home-btn-box,
.home-btn-box>a,
.basket-btn-box,
.basket-btn-box>a{
    display: inline-block;
}
.home-btn-box{
    margin-right: 18px;
    background: #ECECEC;
    padding: 9px 7px;
    border-radius: 15px;
}
.basket-btn-box{
    background: #FFEBCE;
    padding: 6px;
    border: 2px solid #F5A62E;
    border-radius: 15px;
    position: relative;
}
.basket-btn-box::after{
    content: '4';
    background: #F5A62E;
    color: #FFEBCE;
    font-size: 17px;
    width: 25px;
    height: 25px;
    position: absolute;
    top: -12px;
    right: -9px;
    border-radius: 50px;
    text-align: center;
}


/* main */
main{
    padding: 0 60px 51px;
}

/* section01 */
.store-bar{
    margin-bottom: 35px;
}
.store-bar,
.store-bar p,
.store-bar div{
    display: inline-block;
    vertical-align: middle;
}
.store-bar p:first-child{
    color: var(--Search, #AAACAE);
    font-family: Reem Kufi;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.strore-dotte{
    width: 10px;
    height: 10px;
    background: #F5A62E;
    border-radius: 50px;
    margin-right: 15px;
}
.store-bar p:last-child{
    color: #000;
    font-family: Reem Kufi;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


/* banner */
.banner{
    background-image: url('../img/banner.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 865px;
    height: 140px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    color: #fff;
    padding: 4px 46px;
    margin-bottom: 40px;
}
.banner-left-box{
    margin-right: 225px;
}
.banner-left-box h1{
    font-family: Reem Kufi;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.banner-left-box>p{
    color: #FFEBCE;
    font-family: Reem Kufi;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.banner-right-box{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.banner-total-box{
    margin-right: 21px;
}
.banner-total-box h2,
.banner-category-box h2{
    color: #F5A62E;
    font-family: Reem Kufi;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.banner-total-box>p,
.banner-category-box>p{
    color: #FFEBCE;
    font-family: Reem Kufi;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


/* menu-list */
.menu-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-bottom: 37px;
}
.menu-box{
    padding: 22px 37px;
}
.menu-box>a>img{
    margin: 0 auto;
    width: 50px;
    height: 48px;
}
.menu-box:nth-child(1){
    border: 1px solid #F0CAC1;
    border-radius: 50px;
}
.menu-box:nth-child(2){
    border: 1px solid #3EC032;
    border-radius: 50px;
}
.menu-box:nth-child(3){
    border: 1px solid #C1DAF0;
    border-radius: 50px;
}
.menu-box:nth-child(4){
    border: 1px solid #F0E3C1;
    border-radius: 50px;
}
.menu-box:nth-child(5){
    border: 1px solid #F0C4C1;
    border-radius: 50px;
}
.menu-box:nth-child(6){
    border: 1px solid #C1F0D1;
    border-radius: 50px;
}
.menu-box:not(:last-child){
    margin-right: 21px;
}
.menu-box>p{
    color: #000;
    text-align: center;
    font-family: Reem Kufi;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 152.3%; /* 27.414px */
    letter-spacing: -0.18px;
}


/* burder-menu-wrap */
.burder-menu-wrap h3{
    color: #000;
    font-family: Reem Kufi;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 152.3%; /* 54.828px */
    letter-spacing: -0.36px;
}
.burger-list{
    display: flex;
    flex-direction: row;
    margin-top: 71px;
}
.burger-box{
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 68px 13px 28px 17px;
    box-sizing: border-box;
}
.burger-box:not(:last-child){
    margin-right: 25px;
}
.burger-box:nth-child(1){
    position: relative;   
}
.burger-box:nth-child(1)>img{
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
}
.burger-box:nth-child(2){
    position: relative;   
}
.burger-box:nth-child(2)>img{
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
}
.burger-box:nth-child(3){
    position: relative;   
}
.burger-box:nth-child(3)>img{
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
}
.burger-box:nth-child(4){
    position: relative;   
}
.burger-box:nth-child(4)>img{
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
}
.burger-box>p:first-of-type{
    color: #3D3D3D;
    font-family: Reem Kufi;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.72px;
    margin-bottom: 8px;
}
.burger-box>p:last-of-type{
    color: #3D3D3D;
    font-family: Reem Kufi;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 152.3%; /* 21.322px */
    letter-spacing: -0.14px;
}
.burger-box:nth-of-type(1)>p:last-of-type{
    margin-bottom: 35px;
}
.burger-box:nth-of-type(2)>p:last-of-type{
    margin-bottom: 45px;
}
.burger-box:nth-of-type(3)>p:last-of-type{
    margin-bottom: 66px;
}
.burger-box:nth-of-type(4)>p:last-of-type{
    margin-bottom: 66px;
}
.burger-star-wrap,
.burger-score-box,
.burger-price-box{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.burger-star-wrap{
    justify-content: space-between;
    margin-bottom: 13px;
}
.burger-score-box{
    margin-right: 34px;
}
.burger-score-box>img{
    margin-right: 3px;
}
.burger-score-box>p{
    color: #3D3D3D;
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 152.3%; /* 36.552px */
    letter-spacing: -0.24px;
}
.burger-price-box>p{
    color: #FE554A;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.54px;
    margin-right: 9px;
}
.burger-add{
    position: relative;
    width: 40px;
    height: 40px;
    background: #FE5F55;
    border-radius: 50px;
    z-index: 10;
}
.burger-add>p{
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -73%);
    color: #fff;
    text-align: center;
    font-family: Reem Kufi;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -1.44px;
    z-index: 20;
}
